body{
	background-color: black;
	}

#container{
	background-color: white;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.table{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
}

.table th{
	background-color: red;
	color: black;
	border: 1px solid black;
}

.table tr{
	height: 50px;
}

.table td{
	border: 1px solid black;
	text-align: center;
}


